#pp{background-color: black; color: white; border-radius:50px; height: 100px; width: 250px;}
#pp:hover {background-color: #353435}

#time{background-color: black; color: white; border-radius:50px; height: 100px; width: 250px;}
#time:hover {background-color: #353435}
